{% extends "main_layout.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="card-body">
            <label class="small mb-1">Nama Supir:</label><br>
            {{ angkutan_form.nama_supir }}<br>
            <label class="small mb-1">No Angkutan:</label>
            {{ angkutan_form.no_angkutan }}
            <label class="small mb-1">Rute:</label>
            {{ angkutan_form.rute }}
            <hr>
            <button type="submit" class="btn btn-dark btn-lg">Simpan Perubahan</button>
        </div>
        
    </div>
</form>
{% endblock %}