{% extends "main_layout.html" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Jenis Angkutan Umum</h1>
    </div>
    <a class="btn btn-success" href="">Input Jenis Angkutan</a>
    <hr>
    <table class="table table-striped table-success">
        <tr>
            <th>Kode Angkutan umum</th>
        </tr>
        <tr>
            <td><a class="btn btn-primary" href="">Lihat detail</a></td>
        </tr>
    </table>
</div>
{% endblock %}