{% extends "main_layout.html" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Laporan Hasil Narik</h1>
    </div>
    <a class="btn btn-success" href="{% url 'inputlaporannarik' %}">Input laporan hasil narik</a>
    <hr>
    <table class="table table-striped table-success">
        <tr>
            <th>nama supir</th>
            <th>no angkutan</th>
            <th>tgl</th>
        </tr>
    </table>
</div>
{% endblock %}