{% extends "main_layout.html" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Profil Supir</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0"></h5>
                </div>
                <div class="card-body text-center">
                    <img src="{{MEDIA_ROOT}}/media/{{supir1.avatar}}" class="rounded-circle mb-3" width="100" height="100">
                    <h5 class="card-title mb-0">{{ supir1.nama }}</h5>
                    <div class="text-muted mb-2">Supir</div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="h6 card-title">Bio</h5>
                    <p></p>
                </div>
                <hr class="my-0">
                {% if user_form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in user_form.errors.items %}
                            <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                <hr class="my-0">
            </div>
        </div>

        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profil Detail</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="card-body">
                                <label class="small mb-1">Nik:</label>
                                {{ supirform.nik }}
                                <label class="small mb-1">Nama:</label>
                                {{ supirform.nama }}
                                <label class="small mb-1">Tanggal lahir:</label>
                                {{ supirform.tgl_lahir }}
                                <label class="small mb-1">jadwal:</label>
                                {{ supirform.jadwal }}
                                <label class="small mb-1">alamat:</label>
                                {{ supirform.alamat }}
                            </div>
                            <div class="card-body">
                                <hr>
                                <label class="small mb-1">Ganti Avatar:</label>
                                {{supirform.avatar}}
                                
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-dark btn-lg">Simpan Perubahan</button>
                        <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                        <a class="btn btn-danger btn-lg" href="">Hapus Supir</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}